textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	behavior: url(assets/css/PIE.htc);
}
.btn {
	behavior: url(assets/css/PIE.htc);
}
.btn-custom, .btn-custom:active {
	behavior: url(assets/css/PIE.htc);
}
.btn-custom span.cname {
	left: -14px;
	top: 0px;
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.btn-custom span.cnumber {
	left: 0px;
	margin-left: 0px;
}
